<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .navBar {
        /* border: 1px solid gray; */
        height: 50px;
        background-color: rgba(197, 197, 197, 0.337);
        border-radius: 20px;
    }

    .logout {
        float: right;
        position: relative;
        top: 10px;
        left: -40px;
        height: 30px;
        width: 80px;
        border-radius: 10px;
        border: none;
    }

    .logout:hover {
        cursor: pointer;
        background-color: black;
        color: white;
        border-radius: 20px;
    }

    .container-after-login {
        display: flex;
        gap: 100px;
        justify-content: center;
        position: relative;
        top: 80px;
        /* border: 2px solid black; */
        width: 1000px;
        left: 150px;
        flex-wrap: wrap;
    }

    .boxes {
        height: 300px;
        border: 1px solid black;
        width: 200px;
        text-align: center;
        /* display: flex; */
    }

    .boxes button {
        height: 48px;
        width: 100px;
        background-color: rgba(203, 203, 203, 0.384);
        border: none;
        /* display: flex; */
    }

    .boxes button:hover {
        cursor: pointer;
        background-color: black;
        color: white;
        border-radius: 20px;
        box-shadow: 1px 2px 1px 1px black;
    }

    .item {
        position: relative;
        top: 40px;
    }
</style>

<body>
    <div class="navBar">
        <button id="HandleLogout" class="logout">Logout</button>
    </div>
    <div id="container-candidate" class="container-after-login">

    </div>
</body>
<script>
    const HandleLogout = document.getElementById('HandleLogout')


    HandleLogout.addEventListener('click', async() => {
        window.location.href = 'login'
        try {
            const response = await fetch(`http://localhost:8000/api/user`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({isLoggedin: false})
            })
            const data = await response.json()
            console.log(data)

        } catch(error){
            console.log("ERROR TO UPDATE")
        }
    })

    // Fetching Candidate Data
    fetch('http://localhost:8000/api/candidate')
        .then(response => response.json())
        .then(data => { 
            candidates = data;
            renderData()
        })
        .catch(error => console.log("ERROR to Fetch"))

    // Fetchhing Voter data
    const voterData = async () => {
        try {
            const response = await fetch('http://localhost:8000/api/user')
            const data = await response.json()
            console.log(data)
        }
        catch (error) {
            console.log("ERROR ", error)
        }
    }
    // voterData()
    const renderData = () => {
        const container = document.getElementById('container-candidate')
        container.innerHTML = ''
        candidates.forEach(candidate => {
            const box = document.createElement('div')
            box.classList.add('boxes')
            box.innerHTML = `
                <div class="item">
                    <h2>${candidate.fullName}</h2>
                    <p>${candidate.party}</p>
                    <h3 id="countvote-${candidate._id}"><span>Vote:- </span>${candidate.voteCount}</h3>
                    <button id="voteBtn-${candidate._id}">Vote</button>
                </div>
            `
            container.appendChild(box)
            // let count = 0;

            const HandleVote = document.getElementById(`voteBtn-${candidate._id}`)
            const voteCount = document.getElementById(`countvote-${candidate._id}`)

            HandleVote.addEventListener('click', () => {
                candidate.voteCount += 1; // Increase the vote count
                voteCount.innerHTML = `<span>Vote:- </span>${candidate.voteCount}`;
                // Update the vote count on the server  
                fetch(`http://localhost:8000/api/candidate/${candidate._id}`, {
                    method: 'PUT',
                    headers: {
                        'Content-Type': 'application/json' // Corrected Content-Type header
                    },
                    body: JSON.stringify({ voteCount: candidate.voteCount }) // Stringified the body
                })
                    .then(response => response.json())
                    .then(data => {
                        console.log('Vote count updated ', data)
                    })
                    .catch(error => console.log('Error to update ', error))

                    // try{
                    //     const userResponse = await fetch('http://localhost:8000/api/user')
                    //     const users = userResponse.json()

                    //     const currentUser = users.find(user => user.isLoggedin)
                    // }

            })
        });
    }

</script>

</html>