<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SignUp</title>
</head>
<style>
    .container-login{
        position: relative;
        top: 30px;
        /* border: 2px solid black;
        width: 500px; */
        display: grid;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        left: -100px;
    }
    .email-section{
        margin: 10px;
    }
    .party-input{
        height: 40px;
        position: relative;
        margin: 5px;
        left: 0px;
    }
    .pass-input{
        height: 40px;
        position: relative;
        margin: 5px;
        left: 10px;
    }
    .name-input{
        height: 40px;
        position: relative;
        margin: 5px;
        left: 6px;
    }
    .btn-submit{
        position: relative;
        left: 110px;
        top: 20px;
        height: 30px;
        width: 100px;
        cursor: pointer;
    }
    .age-input{
        height: 40px;
        position: relative;
        margin: 5px;
        left: 50px;
        top: 10px;
    }
</style>

<body>
</body>
<div class="container-login">
    <form action="/candidate-register" method="POST">
        <div class="fullName-section">
            <label for="exampleFullName">Full Name</label>
            <input type="text" name="fullName" placeholder="Enter Your Name" class="name-input">
        </div>
        <div class="party-section">
            <label for="examplePartyName" class="party-label" >Party Name</label>
            <input type="party" name="party" placeholder="Enter your party name" class="party-input">
        </div>
        <div class="pass-section">
            <label for="examplePassword">Password</label>
            <input type="password" name="password" placeholder="Enter Password" class="pass-input">
        </div>
        <div class="age-section">
            <label for="examplePassword">age</label>
            <input type="age" name="age" placeholder="How Old Your are?" class="age-input">
        </div>
        <button class="btn-submit" type="submit">SignUp</button>
    </form>
</div>
    
</html>